<div class="text-center home">
  <h1>Private Events</h1><br/>

  <h2>Made for event creators</h2><br/>
  <p>From music festivals and conventions to pop-up dinners and photography classes, transform your vision into an experience people will love.</p>

  <%= button_to "Create a new event NOT WORKING", new_event_url %>

</div>
<div>
  <h2>My events</h2>
  <p>Here you can find all the events you have created.</p>

  <h2>Events from others</h2>
  <p>Here you can find a list of events you were invited to.</p>

  <h3>Upcoming Events</h3>
  <p>Don't miss your incoming events!</p>

  <h3>Past Events</h3>
  <p>A recap on all those good meetings you have had.</p>
</div>
